* {
    box-sizing: border-box;
}

body {
    display:block;
    margin: 0;
    background-color: #9FAEB8;
}

.header {
    background-color: #68747D;
    width: auto;
    height:100px;
    border-bottom: 2px solid #404250;
}
#name {
    color:#DDE0DF;
    font-family:'Merriweather', serif;
    padding:10px;
    margin-top:0px;
    margin-left: 100px;
    height:100px;
    width:250px;
    background-color: #414C55;
    text-align: center;
    border-bottom: 2px solid #404250;
}

#menu {
    margin-top: 50px;
    margin-right: 100px;
    margin-left:100px;
    padding-left:0px;
    float: right;
    position: relative;
    bottom: 140px;
    right: 100px;
    height:50px;
    width:250px;
    background-color: #68747D;
    text-align: center;
}
li {
    display:inline;
    list-style-type: none;
}
li a {
    color:#DDE0DF;
    font-family:'Merriweather Sans', sans-serif;
    text-decoration: none;
}
a:hover {
    color:#A1A7B6;
    text-decoration: none;
}
.pageTitle {
    width:960px;
    height:auto;
    background-color:#DCE4E6;
    margin-right:100px;
    margin-left:100px;
    margin-top:82px;
    margin-bottom:50px;
}
#aboutMe{
    font-family: 'Alegreya', serif;
    color: #333B44;
    border-bottom: 2px solid #333B44;
    text-align: left;
    margin-left:25px;
    margin-right:25px;
    padding-top:33px;
}
#content{
    display: flex;
}
#profilePic{
    margin:10px;
}
p{
    font-family: 'Alegreya Sans', sans-serif;
    color:#333B44;
    margin:10px;
    line-height: 1.5;
}
.footer{
    margin: 0;
    background-color: #68747D;
    width: auto;
    height:75px;
    border-top:5px solid #404250;
}
.cr{
    margin: 0;
    padding: 10px;
    text-align:center;
}
.column {
    float: left;
    width: 33.33%;
    padding: 15px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}
#portfolio{
    font-family:'Roboto Slab', serif;
    color: #333B44;
    border-bottom: 2px solid #333B44;
    text-align: left;
    margin-left:25px;
    margin-right:25px;
    padding-top:33px;
}
.descBox{
    width:200px;
    height:33px;
    background-color:#414C55;
    color:#DDE0DF;
    text-align:center;
    padding:10px;
    position: relative;
    bottom:50px;
    font-family:'Roboto', sans-serif;
}